html, body {
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  left: 0; right: 0; bottom: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color :#000;
  color: #fff;
  overflow: hidden;
}
#map {
  position: absolute;
  width: 960px;
  height: 480px;
  left: 50%;
  top: 50%;
  margin: -240px 0 0 -480px;
  background-color: #0b0c1e;
}
.country {
  position: absolute;
}
.icons div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(sprites.png);
}
.land div {
  position:absolute;
  border-radius: 10px;
  background-color: #d3d7cf;
}
.land div.bordered {
  border: 2px solid #babdb6;
}
.city div {
  background-attachment: fixed;
}
.land div {
  -webkit-transition: all 0.5s ease;
}

.purple .land div { background-color: #ad7fa8; }
.brown .land div { background-color: #e9b96e; }
.red .land div { background-color: #ef2929; }
.yellow .land div { background-color: #fce94f; }
.green .land div { background-color: #8ae234; }
.orange .land div { background-color: #fcaf3e; }
.blue .land div { background-color: #729fcf; }

.purple .city div { background-image: url(purple-city.png); }
.brown .city div { background-image: url(brown-city.png); }
.red .city div { background-image: url(red-city.png); }
.yellow .city div { background-image: url(yellow-city.png); }
.green .city div { background-image: url(green-city.png); }
.orange .city div { background-image: url(orange-city.png); }
.blue .city div { background-image: url(blue-city.png); }

.purple .land div.bordered { border-color: #75507b; }
.brown .land div.bordered { border-color: #c17d11; }
.red .land div.bordered { border-color: #cc0000; }
.yellow .land div.bordered { border-color: #edd400; }
.green .land div.bordered { border-color: #73d216; }
.orange .land div.bordered { border-color: #f57900; }
.blue .land div.bordered { border-color: #3465a4; }

.purple .icons .boat { background-position: 60px 0px; }
.brown .icons .boat { background-position: 40px 0px; }
.red .icons .boat { background-position: 20px 0px; }
.yellow .icons .boat { background-position: 0px 60px; }
.green .icons .boat { background-position: 60px 60px; }
.orange .icons .boat { background-position: 40px 60px; }
.blue .icons .boat { background-position: 20px 60px; }
.icons .stockpile { background-position: 0px 40px; }
.icons .iron { background-position: 60px 40px; }
.icons .tree { background-position: 40px 40px; }
.icons .gold { background-position: 20px 40px; }
.icons .weapon { background-position: 0px 20px; }
.icons .coal { background-position: 60px 20px; }
.icons .horse { background-position: 40px 20px; }
.icons .pasture { background-position: 20px 20px; }
